@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(90, 223, 233);
}

h1 {
    padding: 20px 0px 0px 0px;
    
}

#container {
    margin: 200px auto;
    background-color: #fff;
    box-shadow: 0 1px 10px 11px #ddd;
    border-radius: 12px;
    height: 500px;
    width: 750px;
    text-align: center;
}

#btn {
    margin: 100px auto;
    height: 50px;
    width: 150px;
    border-radius: 12px;
    font-size: 22px;
    background-color: #fff;
}
#btn:hover {
    background-color: black;
    color: #fff;
    transition: .5s ease-in-out;
}

#output {
    margin: 0 auto;
    width: 600px;
    height: 100px;
    padding: 50px;   
    font-size: 26px; 

}